### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
#ignore files
/service1/config-server/src/main/resources/configurations/notification-service.yml
### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store